html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px
  };
  *
  *:after
  *:before {
  box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    background-color: #003566;
  }
  
  .error {
    color: red
  } 
  
  
  .nav {
    background-color: #003566;
    margin: 0px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: inset 0px -4px 20px rgba(0, 0, 0, 0.5);
  }
  .title {
    color: white;
    -webkit-text-stroke: 1px #007200;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .link {
    width: 25rem;
    display: flex;
    justify-content:space-around;
  }
  .link a{
    color: white;
    font-size: 18px;
    text-decoration: none; 
    font-weight: bold; 
  }
  .link a:hover {
    color: #dc2f02;
  }
  .search {
    margin: auto;
    text-align: center;
    background-color: white;
    border: solid 3px #38b000;
    border-radius: 10px;
    padding: 0.25rem;
    };
    .search input {
        margin-top: 0px;
        margin-right: 3px;
        border: none;
  
    };
    
    .spinner-container {
        width: 100vw;
        height: 100vh;
        background-color: #007200; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
    }
    .spinner {
        display: flex;
        gap: 1rem; 
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
    }
    .spinner-dot {
        width: 2rem; 
        height: 2rem; 
        border-radius: 50%;
        background-color: #38b000;
        animation: pulse 2s infinite;
    }
    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
    .loading-text {
        margin-top: 1rem;
        font-size: 1rem; 
        text-align: center;
        color: white;
    };
    .card {
        background-color: #ffffffcc;
        width: fit-content;
    }
    .card div {
        background-color: #ffffffcc;
        border: solid 4px white;
        border-radius: 15px;
        margin: 5px;
        margin-top: 25px; 
        width: 70%; 
        height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        box-shadow: 3px 3px 15px black;
    }
    .card a{
        padding: 0.2rem;
        background-color: #38b000e6;
        width: 100%;
        font-size:20px;
        color:white;
        -webkit-text-stroke: 1px #007200;
        text-decoration: none;
        font-weight: 600;
    }
    .card a:hover {
        background-color: #007200;
    }
    .card img {
        border-radius: 15px;
        margin-top: 10px; 
        margin-bottom: 10px; 
        width: 80%;
        max-width: 300px; 
    }
    .card section{
        display: flex; 
    justify-content: space-evenly; 
    width: 100%; 
    margin-top: 0.25rem; 
    }
    .card h2 {
        font-size: 14px;
        color: #003566;
        margin: 0px;
  
    }
    .card h6 {
        display: none;
    }
    
    .about {
        background-color: #003566cc;
        color: white;
        border-radius: 10px;
        margin: auto;
        padding: 5px 20px;
        width: 70%;
        height: auto;
        border: solid 4px #003566;
        font-size: 16px;
    }
    
    .about h4 {
        font-size: 18px;
        margin-top: 1rem;
    }
    
    .about p {
        text-align: justify;
        font-size: 16px;
        margin-top: 1rem;
    }
    
    .about img {
        width: 25%;
        height: auto;
        border-radius: 15px;
        float: left; /* Flota la imagen a la izquierda */
        margin-right: 1rem; /* Espacio a la derecha de la imagen */
        margin-bottom: 1rem; /* Espacio debajo de la imagen */
    }
    
    .about a {
        color: #38b000;
        font-size: 16px;
        text-decoration: none;
    }
    
    .about section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 5rem;
    }
    
    .about section h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .about section h4 {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .view{
        display:flex;
        flex-wrap: wrap;
        direction: row;
        justify-content:center;
        margin-top: 1px;
    } 